body {
    text-align: center;
    background-color: #1A1A1A;
    color: whitesmoke;
}
.filter-container {
    margin-left: auto;
    text-align: right;
}

#filter {
    width: auto;
    display: inline-block;
    border-radius: 12px;
    padding: 6px 10px;
}

.card {
    background-color: #1ED760;
    color: #0D0D0D;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
}